{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMS PROJECT</title>
    <link type="text/css" rel="stylesheet"  href="{% static 'css/style.css' %}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h2 align="center">STUDENT ACADEMIC MANAGEMENT SYSTEM</h2>

<a href="{% url 'home' %}">Home</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'about' %}">About</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'login' %}">Login</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'contact' %}">Contact</a>
<br><br>

{% block 'body' %}

<p>I am in Home Page</p>

{% endblock %}
</body>
</html>